{% extends 'halls/base.html' %}
{% block title %}Reach Out to Us | ThrillTicket{% endblock %}
{% block content %}

<section class="contact-info">
    <h2>Contact Information</h2>
    <p><strong>Address:</strong> 123 Haunted Lane, Spooksville</p>
    <p><strong>Phone:</strong> +31 70 123 4567</p>
    <p><strong>Email:</strong> <a href="mailto:info@thrillticket.com">info@thrillticket.com</a></p>
</section>

<section class="contact-form">
    <h2>Send Us a Message</h2>
    {% if success %}
        <p style="color: lightgreen;">Message sent successfully!</p>
    {% endif %}
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Send Message</button>
    </form>
</section>

<section class="map-section">
    <h2>Our Location</h2>
    <div class="map-responsive">
        <iframe 
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3887.4506376806858!2d77.58952267532253!3d13.006950014101802!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae17b55c78182f%3A0xd46d15155f682466!2sFun%20World%20Amusement%20Park!5e0!3m2!1sen!2snl!4v1748876120534!5m2!1sen!2snl" 
        width="600" height="450" 
        style="border:0;" 
        allowfullscreen="" loading="lazy" 
        referrerpolicy="no-referrer-when-downgrade">
        </iframe>
    </div>
</section>

{% endblock %}